.header{
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #040c4c;
    .title{
        color: rgba(255, 255, 255, 100);
        font-size: 4rem;
        text-align: center;
        font-family: Roboto;
    }
}